/*
theme
00C3A4
051122
1768AC
FFFFFF
FF6666
*/

/* * {
    box-shadow: inset 0px 0px 0px 1px #f00;
} */

:root {
    --page-background-colour: #1768ac;
    --page-font-colour: #ffffff;
    --page-heading-font-colour: #00c3a4;
    --banner-background-colour: #051122;
    --banner-font-colour: #ffffff;
    --link-colour: #ff6666;
    --link-colour-visited: #051122;
}

.header {
    background-color: var(--banner-background-colour);
    color: var(--banner-font-colour);
    width: 100%;
    padding: 20px 0px 20px 0px;

    display: flex;
    justify-content: left;
    align-items: center;

    h1 {
        width: 60%;
        font-size: 60px;
        font-weight: bold;
        text-align: left;
    }

    .profile-container {
        max-width: 20%;
        height: auto;
        overflow-y: auto;

        display: flex;
        justify-content: center;
        align-items: center;

        .profile {
            max-width: 50%;
        }
    }

    @media (max-width: 848px) {
        .profile-container {
            visibility: hidden;
        }

        h1 {
            font-size: 40px;
        }
    }

    @media (max-width: 582px) {
        h1 {
            font-size: 32px;
        }
    }
}

body {
    background-color: var(--page-background-colour);
    color: var(--page-font-colour);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    h3 {
        color: var(--page-heading-font-colour);
        font-weight: bold;
    }

    .body-container {
        display: flex;
        justify-content: center;
        width: 100%;

        .about-me {
            width: 60%;
            padding-top: 20px;

            .language-icons {
                margin: 0px 0 20px 0;

                .icon {
                    padding-right: 1em;
                    margin-top: 20px;
                    width: 100px;
                    height: auto;
                }
            }
        }
    }
}

a:active {
    color: var(--link-colour);
}

a:active {
    color: var(--link-colour);
}

a:visited {
    color: var(--link-colour-visited);
}

.footer {
    background-color: var(--banner-background-colour);
    color: var(--banner-font-colour);
    width: 100%;
    padding: 40px 40px 40px 40px;
    text-align: center;
    flex-shrink: 0;
}
